{% extends 'layout.html' %} {% block content %} {% for post in posts %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name: {{ post.name }}</h5>
        <p class="card-text">DOB: {{ post.dob }}</p>
        <p class="card-text">Email: {{ post.email }}</p>
        <p class="card-text">Status: {{ post.status }}</p>
        {% if post.status == 0 %}
        <a href="#" class="btn btn-primary">Register</a>
        {% else %}
        <a href="#" class="btn btn-primary">Loan</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
